/.DS_Store
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
auto/*
/draft/auto/bqrpt-paper.el
reference/
/R/.Rhistory
/tours/.Rhistory
/draft/auto/qr-draft-reference.el
/tours/rq.txt
/image/weight-age-race.pdf
/draft/auto/bqrpt-multi.el
/R/sim-m1-0831.txt
/R/sim-m1-result-0831.txt
/R/sim-m1h-0902.txt
/R/sim-m1h-result-0902.txt
/R/sim-m2-0901.txt
/R/sim-m2-result-0901.txt
/R/sim-m2h-0902.txt
/R/sim-m2h-result-0902.txt
/R/sim-m3-0831.txt
/R/sim-m3-result-0831.txt
/R/sim-m3h-0902.txt
/R/sim-m3h-result-0902.txt
/R/sim-m4-0831.txt
/R/sim-m4-result-0831.txt
/R/sim-m4h-0902.txt
/R/sim-m4h-result-0902.txt
/bqrpt.org
/R/heterptlm-ex.R
/qr-draft-reference.bib
/diff.tex
/diff.pdf
/draft/diff.tex
/draft/diff.pdf
/draft/auto/diff.el
/draft/diff-0903.pdf
R/sim*.txt
/tours/tours-result-0906.txt
/draft/auto/diff-0906.el
/draft/bqrpt-diff-0906.pdf
/draft/bqrpt-diff-0906.tex
/draft/*diff*