/.DS_Store
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
auto/*
/draft/auto/bqrpt-paper.el
reference/
/R/.Rhistory
/tours/.Rhistory
/draft/auto/qr-draft-reference.el
/tours/rq.txt
/image/weight-age-race.pdf
/draft/auto/bqrpt-multi.el
